
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content"  cols="50" rows="3" placeholder="Type here..."></textarea><br>
            <button value="submit"> Post </button>
        </form>
    </section>

    <section id="available-posts">
        <% for(let post of posts) { %>
            <div class="card">
                <ul>
                    <li> 
                        <p><%= post.content %></p>
                        <p><small><%= post.user.name%></small></p>
                    </li>
                </ul>
            </div>
        <% } %>
    </section>
