<section id="posts">
    <section id="posts-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user) {%>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content"  cols="50" rows="3" placeholder="Type here..."></textarea><br>
            <button value="submit"> Post </button>
        </form>
        <%}%>
    </section>

    <section id="available-posts" class="card">
        <h4>Latest Feeds</h4><br>
        
        <ul>
            <div class="card-title" style="margin-bottom: 50px;">
            <% for(post of posts) { %>
                <%-include('_post')-%>
            <%}%>
        </div>        
        </ul>
    </section>
</section>


    <section id="user-friends"> 
        <h4>Friends</h4>    
        <% if(locals.user){%>
        <% for(u of all_users){%>
            <% if(u.id == locals.user.id) continue %>
            <p><a href="/users/profile/<%= u.id %>"><%= u.name%></a></p>
        <% } %>
        <%}%>
    </section>
</section>

<script src="/js/home_posts.js"></script>