
    <section id="feed-posts">
        <h4>Posts</h4>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content"  cols="50" rows="3" placeholder="Type here..."></textarea><br>
            <button value="submit"> Post </button>
        </form>
    </section>

    <section id="available-posts">
        
    </section>
