header{
    background-color:blueviolet;
    color:white;
    a{
        color:white;
        text-decoration: none;
    }
    p{

    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            margin: 4px;
        }
    }
}