body{
    margin: 0;
    
    #layout-main{
        height: 82vh;
        margin-bottom: 4px;
    }
    #feed-posts{
        margin-bottom: 15px;;
    }
    #available-posts{
        height: auto;
        width: 50%;
        margin-bottom: 80px;
        .post-comments-list{
            li::before{
                content: 'c';
                color:rgb(77, 51, 95);;
                display:inline;
                font-weight: bolder;
            }
        }
    }
    ul{
        list-style: none;
    }
}
