<div>
    <p><%= comment.user.name  %></p>
    <br>
    <br>
    <p>Your comment <strong><%= comment.content %></strong> just got published on Dstop </p>
    <p>    </p>
    <p></p>
    <p>Thanks</p>
</div>