body {
  margin: 0; }
  body #layout-main {
    height: 82vh;
    margin-bottom: 4px; }
  body #feed-posts {
    margin-bottom: 15px; }
  body #available-posts {
    height: auto;
    width: 50%;
    margin-bottom: 80px; }
    body #available-posts .post-comments-list li::before {
      content: 'c';
      color: #4d335f;
      display: inline;
      font-weight: bolder; }
  body ul {
    list-style: none; }
