body {
  margin: 0; }

form {
  /* border: 2px solid black; */
  width: 50%;
  position: absolute;
  left: 25%; }

input {
  margin: auto;
  display: block;
  padding: 15px 8rem;
  border-width: 0px 0px 2px 0px;
  border-color: blueviolet; }

input:hover {
  border-color: gold; }

button {
  margin-top: 5%;
  padding: 15px 12rem;
  background-color: blueviolet;
  color: white; }

button:hover {
  background-color: white;
  color: blueviolet;
  font-weight: bold;
  cursor: pointer; }
